html,body{width:100%;}
html{overflow-y:scroll;overflow-x:hidden;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table,form,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd{
        font-family: "SegoeUI", "Microsoft YaHei UI", "Hiragino Sans GB", "Microsoft YaHei";
        font-size:12px
}
/*body,input,textarea,select,button,table,form,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd{font-family:"SimSun","瀹嬩綋",'tahoma';font-size:12px}*/
strong{font-weight:bold !important;}
img,fieldset{border:0}
img{vertical-align:middle}
fieldset{display:block}
ul,ol{list-style:none}
em,address{font-style:normal}
input,select{vertical-align:middle}
hr,legend{display:none}
caption{overflow:hidden;width:0px;height:0px;padding:0;font-size:0;line-height:0;text-indent:-999px}
textarea{border:solid 1px #e1e1e1; padding:10px; color:#666;}
table{border-collapse:collapse;border-spacing:0}
table th{font-size:13px;font-weight:normal}
select{color:#999; padding:2px; border:solid 1px #ddd;}
button{border:none;background:transparent;cursor:pointer;width:auto;overflow:visible;display:inline-block;*display:inline;zoom:1}
button::-moz-focus-inner{border:0;padding:0;margin:0}
a:link {color:#7a7a7a; text-decoration:none;}
a:visited {color:#7a7a7a; text-decoration:none;}
a:hover {color:#7a7a7a; text-decoration:underline;}
a:focus {color:#7a7a7a; text-decoration:none;}
a:active {color:#7a7a7a; text-decoration:none;}
.blind,legend,.ir_text,caption{overflow:hidden;width:100%;height:0px;font-size:0;line-height:0;text-indent:-9999px}
.hidden{visibility:hidden; width:0; height:0;}
.point_r{color:#ec3865;}
.fl{ float:left !important; }
.fr{ float:right !important; }
.fn{ float:none !important; }
.cb{ clear:both !important; }
.ac{ text-align:center !important; }
.al{ text-align:left !important; }
.ar{ text-align:right !important; }
.vt{ vertical-align:top !important; }
.vm{ vertical-align:middle !important; }
.vb{ vertical-align:bottom !important; }
.oh{ overflow:hidden !important; }
.cp{ cursor:pointer !important; }
.di{ display:inline !important; }
.dib{ display:inline-block;display:-moz-inline-box; }
.dn{ display:none !important; }
.db{ display:block !important; }
.vv{ visibility:visible !important; }
.vh{ visibility:hidden !important; }
.fb{ font-weight:bold !important; }
.fn{ font-weight:normal !important; }
.fs{ font-size:11px !important; }
.fixed{ table-layout:fixed}
.pr{ position:relative;}
.c-red{color:#72000a !important}
.c-point{color:#930d03}
.fw-b{font-weight:600;}
.donetx{color:#87a621 !important;}
.done1tx{color:#777 !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt80{margin-top:80px !important;}
.mt70{margin-top:70px !important;}
.mt15{margin-top:15px !important;}
.mt60{margin-top:60px !important;}
.mt20{margin-top:20px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}

.ellipsis{display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
.ft-C1 {color:#ee3966;}

.radioForm {display: inline-block; overflow: hidden; width: 16px; height: 16px;vertical-align: middle; background: url(/kr/common/images/common/bg_radio.gif) no-repeat left top;}
.radioForm.selected {background-position: left bottom;}
.radioForm input {width: 16px; height: 16px; opacity: 0; filter: alpha(opacity=0); cursor: pointer;}
.radioForm1 {display: inline-block; overflow: hidden; width: 16px; height: 16px;vertical-align: middle; background: url(/kr/common/images/common/bg_radio1.png) no-repeat left bottom;}
.radioForm1.selected {background-position: left top;}
.radioForm1 input {width: 16px; height: 16px; opacity: 0; filter: alpha(opacity=0); cursor: pointer;}
.radioForm2 {display: inline-block; overflow: hidden; width: 16px; height: 16px;vertical-align: middle; background: url(/kr/common/images/common/bg_radio1.png) no-repeat left bottom;}
.radioForm2.selected {background-position: left top;}
.radioForm2 input {width: 16px; height: 16px; opacity: 0; filter: alpha(opacity=0); cursor: pointer;}

.radioForm_2 {display: inline-block; overflow: hidden; width: 16px; height: 16px;vertical-align: middle; background: url(/kr/common/images/common/bg_radio.gif) no-repeat left top;}
.radioForm_2.selected {background-position: left bottom;}
.radioForm_2 input {width: 16px; height: 16px; opacity: 0; filter: alpha(opacity=0); cursor: pointer;}


.checkForm {display: inline-block; overflow: hidden; width: 14px; height: 14px;vertical-align: middle; background: url(/kr/common/images/common/bg_check.gif) no-repeat left top;}
.checkForm.selected {background-position: left bottom;}
.checkForm input {width: 14px; height: 14px; opacity: 0; filter: alpha(opacity=0); cursor: pointer;}

.checkForm1 {display: inline-block; overflow: hidden; width: 14px; height: 14px;vertical-align: middle; background: url(/kr/common/images/common/bg_check.gif) no-repeat left top;}
.checkForm1.selected {background-position: left bottom;}
.checkForm1 input {width: 14px; height: 14px; opacity: 0; filter: alpha(opacity=0); cursor: pointer;}

#wrap{}
#header{border-top:solid 5px #ee3966;}
#header #head{height:53px;padding-top:30px; border-bottom:solid 1px #ee3966;}
#header #head .headin{width:980px; margin:0 auto; position:relative;}
#header #head .headin h1{text-align:center; }
#header #head .headin .globel{position:absolute; left:0; top:-15px;}
#header #head .headin .globel ul{overflow:hidden;}
#header #head .headin .globel ul li{float:left;padding:0 9px 0 9px; /*background:url(/cn/common/images/main/right_bar.png) no-repeat left center;*/}
#header #head .headin .globel ul li:first-child{padding:0 9px 0 0px; background:none;}
#header #head .headin .globel ul li a{color:#a9a9a9; }
#header #head .headin .globel ul li a:hover{color:#333333; }
#header #head .headin .globel ul li a.on{color:#333333 !important; }
#header #head .headin .mainsearch{width:210px; height:28px;position:absolute; right:0; top:-15px; background:url(/assets/img/search_bg.gif) no-repeat;}
#header #head .headin .mainsearch input[type="text"]{width:160px; height:14px; padding:3px; margin:5px 0 0 10px; border:none;}
#header #head .headin .mainsearch a.btn_search{display:block;width:12px; height:12px;position:absolute;right:11px; top:7px;background:url(/assets/img/btn_search.gif) no-repeat; }
#header #GNB{position:relative; border-bottom:solid 1px #e1e1e1;}
#header #GNB_in ul{overflow:hidden; width:105%;}
#header #GNB_in ul li{float:left; margin-left:129px;}
#header #GNB_in ul li:first-child{ margin-left:0px;}
#GNB_in{width:684px; margin:0 auto; padding:0 148px;}
#GNB_in a{text-decoration:none;}
#GNB_in .gnb1 a{width:61px; height:40px;display:block; /*background:url(/cn/common/images/main/gnb1.gif) no-repeat left top;*/}
#GNB_in .gnb1 a:hover{background-position:left bottom;}
#GNB_in .gnb1 a.on{background-position:left bottom;}

#GNB_in .gnb3 a{width:103px; height:40px;display:block; /*background:url(/cn/common/images/main/gnb2.gif) no-repeat left top;*/}
#GNB_in .gnb3 a:hover{background-position:left bottom;}
#GNB_in .gnb3 a.on{background-position:left bottom;}
#GNB_in .gnb2 a{width:79px; height:40px;display:block; /*background:url(/cn/common/images/main/gnb3.gif) no-repeat left top;*/}
#GNB_in .gnb2 a:hover{background-position:left bottom;}
#GNB_in .gnb2 a.on{background-position:left bottom;}

#GNB_in .gnb4 a{width:80px; height:40px;display:block; /*background:url(/cn/common/images/main/gnb4.gif) no-repeat left top;*/}
#GNB_in .gnb4 a:hover{background-position:left bottom;}
#GNB_in .gnb4 a.on{background-position:left bottom;}
#gnb_over{width:100%;height:243px; display:none; position:absolute; left:0; top:40px; background:url(/assets/img/gnb_bg.png) repeat-x; z-index:11}
.gnb_over_in{width:850px; margin:0 auto; }
.gnb_over_in:after{clear:both;display:block; content:""; }
.gnb_over_in > div{margin:18px 0 0 0; height:200px; float:left; border-right:solid 1px #3b3837;}
.gnb_over_in ul{overflow:hidden}
.gnb_over_in ul li{margin-bottom:12px;}
.gnb_over_in ul li a{color:#ffffff; font-size:12.5px; text-decoration:none; font-weight:900}
.gnb_over_in ul li a:hover{color:#ee3966; }
.gnb_over_in .over1{width:170px; margin-left:86px;}
.gnb_over_in .over1 ul li{float:left; width:83px;}
.gnb_over_in .over2{width:198px; padding-left:39px;}
.gnb_over_in .over3{width:176px; padding-left:33px}
.gnb_over_in .over4{width:100px; padding-left:38px; border:none;}
#mainRoll{ width:100%;height:694px; margin-bottom:12px;  position:relative;}
#mainRoll ul{height:694px;position:relative; }
#mainRoll ul li{height:694px; width:100%; position:absolute; left:0; top:0;text-align:center}
#mainRoll .mabt{width:980px; margin:0 auto; height:40px; position:relative; margin-top:-40px; z-index:6}
#mainRoll .maR_prev{width:40px;height:40px;display:block; position:absolute; right:40px;bottom:0; background:url(/assets/img/roll_bt.gif) no-repeat left top;}
#mainRoll .maR_next{width:40px;height:40px;display:block; position:absolute;right:0px;bottom:0;background:url(/assets/img/roll_bt.gif) no-repeat right top;}
#main_con{width:980px; margin:0 auto;}
#main_con .main_pdt{margin-bottom:12px;}
#main_con .main_pdt:after{content:''; clear:both; display:block;}
#main_con .main_pdt .mp_L{width:560px;float:left; }
#main_con .main_pdt .mp_L .imgskin{position:relative; height:243px;}
#main_con .main_pdt .mp_L .imgskin em.tx_img1{display:block;position:absolute; left:30px; top:66px}
#main_con .main_pdt .mp_L .imgskin span{display:block; width:560px; height:243px; overflow:hidden; position:relative;}
#main_con .main_pdt .mp_L .imgskin span img{ position:absolute; left:0; top:0;}
#main_con .main_pdt .mp_L .imgeye{position:relative; margin-top:12px;}
#main_con .main_pdt .mp_L .imgeye span{display:inline-block;  position:relative; width:274px; height:244px; overflow:hidden;}
#main_con .main_pdt .mp_L .imgeye span img{position:absolute; left:0; top:0;}
#main_con .main_pdt .mp_L .imgeye a{display:inline-block;  margin-left:8px;position:relative;}
#main_con .main_pdt .mp_L .imgeye em{display:block; position:absolute;}
#main_con .main_pdt .mp_L .imgeye em.tx_img3{left:23px; top:30px;}
#main_con .main_pdt .mp_L .imgeye em.tx_img4{left:23px; top:30px;}
#main_con .main_pdt .mp_L .imgeye a:first-child{ margin-left:0px;}

#main_con .main_pdt .mp_R{width:408px;float:right;position:relative;}
#main_con .main_pdt .mp_R span{display:block;width:408px; height:499px; overflow:hidden; position:relative;}
#main_con .main_pdt .mp_R span img{ position:absolute;}
#main_con .main_pdt .mp_R em.tx_img2{display:block;position:absolute; left:119px; bottom:94px; z-index:2}
#main_con .vedioarea{height:487px;padding:0 0 0 690px;position:relative; border-top:solid 2px #e7f588; border-bottom:solid 2px #e7f588;}
#main_con .vedioarea .vedio{position:absolute; left:0; top:-2px;}
#main_con .vedioarea a{display:block; margin:145px 0 0 0;  text-align:center;}
#main_con .mailbox{padding:28px 0;  text-align:center;}
#main_con .mailbox label{display:inline-block; vertical-align:middle; margin-right:5px;}
#main_con .mailbox input[type="text"]{width:359px; height:27px; border:solid 1px #ddd;padding:3px; margin-right:5px;}

#footer {}
#footer span{display:block;background:#f6f6f6; padding:20px 0; text-align:center; line-height:50px;}
#footer span a{display:inline-block; margin-left:15px;}
#footer span em{display:block; margin-bottom:0px;}
#footer .main_bot{width:980px; margin:0 auto;border-top:solid 1px #dddddd;}
#footer .main_bot ul{overflow:hidden;}
#footer .main_bot ul li{float:left;}

#container{min-height:700px; z-index:3; position:relative;}
#container #content{width:980px; margin:0 auto; padding-bottom:80px;}
#container #content h2.page_tit{overflow:hidden; margin:20px 0 28px 0; font-size:24px; color:#ee3966; font-weight:900}
#container .content {width:980px; margin:0 auto; padding-bottom:80px;}

#product_navi{position:relative; top:9px;}
#product_navi:after{display:block; clear:both;content:"";}
#product_navi .product_menu{width:980px; margin:0 auto;position:relative; *z-index:0 ;z-index:5}
#product_navi .product_menu ul{display:block; position:absolute; right:-11px; top:14px;}
#product_navi .product_menu ul li{float:left;padding-left:12px; padding-right:11px; background:url(/cn/common/images/common/bar_line.gif) no-repeat left 8px; color:#666; font-size:12px;line-height: 22px;}
#product_navi .product_menu ul li a{display:inline-block; vertical-align:middle;}
#product_navi .product_menu ul li a:hover{color:#ee3966;}
#product_navi .product_menu ul li a.on{color:#ee3966;}
#product_navi .product_menu ul li:first-child{padding-left:0px;margin-left:0px;background:none;}

.pagingArea {margin:40px 0 0 0;position:relative; text-align:center; font-size:12px; }
.pagingArea > a {display:inline-block; width:28px; height:28px; line-height:26px; margin:0; vertical-align:middle; text-align:center; font-size:14px; color:#5b5b5b !important; text-decoration:none; font-family:'tahoma'}
.pagingArea > a:hover{color:#ee79a1 !important; text-decoration: none;}
.pagingArea > a.current {color:#ee79a1 !important;}
.pagingArea > span {display:inline-block; vertical-align: top;}
.pagingArea > span a {display: block; width:28px; height:28px; padding:0; border:none;}
.pagingArea .button {float:right; margin-left:5px;}
.pagebtn{position:relative;}
.pagebtn .button {float:right; margin:0px 0 0 5px; top:-30px; position:relative; z-index:4}

.btn_right{width:100%;padding-top:20px; text-align:right;}
.btn_left{width:100%; padding-top:20px;text-align:left;}
.btn_both{width:100%; padding-top:30px;overflow:hidden}
.btn_center {text-align: center;;padding-top:20px;}

.button {display:inline-block; width:107px;}
.button a {display:block; height:28px; line-height:29px; text-align: center; font-weight: bold;}
.button a:hover {text-decoration: none;}
.button .type1 {color:#ffffff; background: #f6426f; border:1px solid #ef3f6b;}
.button .type2 {color:#ef3c66; background: #ffffff; border:1px solid #ef3f6b;}
.button .type3 {color:#ffffff; background: #c0c0c0;border:none;}
.button .type3:hover {color:#ffffff;}
.button .type4 {color:#666666; background: #fff;border:1px solid #dedede;}
.button .type5 {color:#666666; background: #f5f5f5;border:1px solid #dedede;}
.button .type6 {color:#fff; background: #959595;border:1px solid #959595;}
.button1 {display:inline-block; width:144px;}
.button1 a {display:block; height:45px; line-height:47px; text-align: center; font-weight: bold; font-size:15px;}
.button1 a:hover {text-decoration: none;}
.button1 .type1 {color:#ffffff; background: #f6426f; border:1px solid #ef3f6b;}
.button1 .type2 {color:#ef3c66; background: #ffffff; border:1px solid #ef3f6b;}
.button1 .type3 {color:#ffffff; background: #c0c0c0;border:none;}

.button2 {display:inline-block;}
.button2 a {display:block; height:18px; line-height:18px !important;; padding:0 8px; text-align: center; font-size:11px !important;; background: #ffffff;}
.button2 a:hover {text-decoration: none;}
.button2 .type1 {color: #666; border:1px solid #ddd;}
.button2 .type2 {color: #f6426f; border:1px solid #ddd;}
.button2 .type3 {color: #f6426f !important; border:1px solid #ffcadb; background:#feeff2;}
.button2 .type4 {color: #fff; background:#b1b1b1;}

.button3 {display:inline-block; width:76px;}
.button3 a {display:block; height:26px; line-height:28px; text-align: center; font-weight: bold; font-size:12px;}
.button3 a:hover {text-decoration: none;}
.button3 .type1 {color:#fff; background: #ee3966;  border:solid 1px #ee3966;}
.button3 .type2 {color:#666666; background: #f5f5f5; border:solid 1px #dddddd;}
.button3 .type3 {color:#666666; background: #ffffff; border:solid 1px #dddddd;}
.button3 .type4 {color:#fff; background: #b4b4b4; border:solid 1px #b4b4b4;}
.button3 .type5 {color:#ef3f6b; background: #fff; border:1px solid #ef3f6b;}

.button4 {display:inline-block; width:46px;}
.button4 a {display:block; height:23px; line-height:22px; text-align: center; font-weight: bold; font-size:12px;}
.button4 a:hover {text-decoration: none;}
.button4 .type1 {color:#666666; background: #ffffff; border:solid 1px #dddddd}

.button5 {display:inline-block; width:52px;}
.button5 a {display:block; height:21px; line-height:21px; text-align: center; font-weight: bold;}
.button5 a:hover {text-decoration: none;}
.button5 .type1 {color:#ffffff; background: #f6426f; border:1px solid #ef3f6b;}
.button5 .type2 {color:#ef3c66; background: #ffffff; border:1px solid #ef3f6b;}
.button5 .type3 {color:#ffffff; background: #c0c0c0;border:1px solid #c0c0c0;}
.button5 .type4 {color:#666666; background: #fff;border:1px solid #dedede;}
.button5 .type5 {color:#666666; background: #f5f5f5;border:1px solid #dedede;}
.button5 .type6 {color:#fff; background: #959595;border:1px solid #959595;}

.button6 {display:inline-block; width:87px;}
.button6 a {display:block; height:30px; line-height:30px; text-align: center; font-weight: bold;}
.button6 a:hover {text-decoration: none;}
.button6 .type1 {color:#ffffff; background: #f6426f; border:1px solid #ef3f6b;}
.button6 .type2 {color:#ef3c66; background: #ffffff; border:1px solid #ef3f6b;}
.button6 .type3 {color:#ffffff; background: #c0c0c0;border:1px solid #c0c0c0;}
.button6 .type4 {color:#666666; background: #fff;border:1px solid #dedede;}
.button6 .type5 {color:#fff; background: #b4b4b4;border:1px solid #b4b4b4;}
.button6 .type6 {color:#fff; background: #959595;border:1px solid #959595;}

.depthstyle1{}
.depthstyle1 .depthtit{display:block;margin-bottom:4px; color:#333333; font-size:13px; font-weight:700}
.depthstyle1 .depthtit em.point{width:8px; height:11px; display:inline-block; margin:0px 3px 0 0; background:url(/cn/common/images/icon/icon_point1.gif) no-repeat; vertical-align:middle;}
.depthstyle1 ul{overflow:hidden;}
.depthstyle1 ul li{overflow:hidden;margin-bottom:2px;padding-left:6px; background:url(/cn/common/images/common/depth_bullet.gif) no-repeat left 9px;color:#999; line-height:18px; letter-spacing:-0.5px;}
.depthstyle1 ul li em{color:#666}
.depthstyle1 ul li em.pointR{color:#ec3865}

#overlay{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:9998;background:#fff;opacity:.9;filter:alpha(opacity=90)}
.commonLayer{display:none;position:absolute;z-index:9999;width:921px;background:#fff;}
.commonLayer .inner{position:relative;}
.commonLayer .inner .btn_close{display:block;width:18px; height:18px; position:absolute; right:20px; top:15px;background:url(/cn/common/images/common/bt_layerclose.png) no-repeat; }
.commonLayer .inner .poptit{height:49px;padding:0 0 0 20px; background:#ec3865; color:#fff; line-height:50px; font-size:19px; font-weight:700; position:relative; }
.commonLayer .inner .common_con{position:relative; padding:20px; background:#fff; border:1px solid #cccccc; border-top:none;}
.commonLayer .listType1 {margin-bottom: 10px;}
.commonLayer .listType1 ul {}
.commonLayer .listType1 ul li {padding-left: 9px; line-height:18px; font-size: 11px; color:#999; background:url(/kr/common/images/common/2x2dotted.gif) no-repeat left 7px;}
.commonLayer .listType1 ul li em {color:#ff6e92;}
.commonLayer .listType1 ul li.mg {margin-top:5px;}
.commonLayer .depth1tit {display: block; margin-bottom: 15px; color: #333333; font-size: 16px;}
.commonLayer .depth2tit {display: block; margin-bottom: 10px; color: #333333; font-size: 13px;}
.commonLayer em.point {width: 8px;  height: 11px;  display: inline-block;  margin: 0px 3px 0 0;  background: url(/kr/common/images/icon/icon_point1.gif) no-repeat;  vertical-align: middle;}

.popwrap{}
.popcontainer{}
.pop_tit{height:49px;padding:0 0 0 20px; background:#ec3865; color:#fff; line-height:50px; font-size:19px; font-weight:700; position:relative; }
.pop_tit .btn_close{display:block;width:18px; height:18px; position:absolute; right:20px; top:15px;background:url(/kr/common/images/common/bt_layerclose.png) no-repeat; }

.pop_graybox{padding:46px 0; text-align:center;color:#333; font-size:24px;background:#f8f8f8; }

.tablestyle1{border-top:solid 1px #ee3966;}
/*.tablestyle1 table{width:100%;font-family:"SimSun",'tahoma';}*/
.tablestyle1 table{width:100%;font-family:'Microsoft YaHei';}
.tablestyle1 table thead th{padding:14px 0; border-bottom:solid 1px #e7e7e7;background:url(/assets/img/right_bar.png) no-repeat left center;text-align:center;font-size:13px; color:#333333; font-weight:700; }
.tablestyle1 table thead th:first-child{background:none;}
.tablestyle1 table thead th.last{background:none;}
.tablestyle1 table tbody td{padding:14px 0;border-bottom:solid 1px #e7e7e7; color:#666666; font-size:13px; text-align:center;}
.tablestyle1 table tbody th{padding:14px 0;border-bottom:solid 1px #e7e7e7; color:#333; font-size:13px; text-align:center;}
.tablestyle1 table tbody td a{color:#666666; font-size:13px; }
.tablestyle1 table tbody td a:hover{color:#f6426f;font-size:13px; }
.tablestyle1 table tbody td.tit{padding:14px 0 14px 30px; text-align:left; }
.tablestyle1 table tbody td.nolist{padding:58px 0; text-align:center; }
.tablestyle1 table tbody td.left{padding:14px 0 14px 30px; text-align:left;}
.tablestyle1 table tbody td.nolist span{display:inline-block; line-height:31px;padding-left:40px; background:url(/kr/common/images/common/ico_listnone.gif) no-repeat left center;text-align:center; color:#d0d0d0; font-size:20px; font-weight:700;}

.tablestyle2 {overflow:hidden; width:980px;}
.tablestyle2 table {width:100%;margin-left:-1px; border-top:1px solid #ee3966;}
.tablestyle2 table th, .tablestyle2 table td {padding:12px 12px; line-height: 16px; text-align:left; font-size:13px; color:#333; border-bottom:1px solid #ddd;}
.tablestyle2 table th {font-weight:bold; background: #fff url(/cn/common/images/common/bar_tabBg_gray.gif) no-repeat left center; vertical-align:top}
.tablestyle2 table td {background: #fff; color:#666}
.tablestyle2 table .left {text-align: left; padding-left:20px}
.tablestyle2 table td.date {font-size:12px; color:#999;}
.tablestyle2 table td.fir {color:#f6426f; font-weight: bold;}
.tablestyle2 table td.last {color:#f6426f; font-weight: bold;}
.tablestyle2 table td .td_tit {color:#333;}
.tablestyle2 table input[type="text"]{border:solid 1px #f2f2f2; height:15px; padding:3px; color:#666;}
.tablestyle2 table .ta_point{display:block;padding-left:10px;background: #fff url(/kr/common/images/common/table_point.gif) no-repeat left center; text-align:left;}
.tablestyle2 table .pointtx{ color:#ee3966;}
.tablestyle2 table .subtxt{display:inline-block; margin-left:10px; color:#999999}
.tablestyle2 table .addbox{display:block; margin:10px 0 0 0;}
.tablestyle2 table .tx_byte{display:block; margin:5px 0 0 0; font-family:'tahoma'; color:#999;}
.tablestyle2 .button2 a{padding:0 25px; height:20px; line-height:20px !important;}
.tablestyle2 .in_file{position:relative;}
.tablestyle2 .in_file .btn_addimg{left:242px; top:1px;}

.tablestyle3 {border:1px solid #ddd; border-bottom:none;}
.tablestyle3 th, .tablestyle3 td {line-height: 18px; padding:5px; text-align: left; color:#666; border-bottom:1px solid #ddd;}
.tablestyle3 th {font-size: 12px; background: #f7f7f7;}
.tablestyle3 td {font-size: 11px; background: #fff;}

.tabType1 {position:relative;z-index:10;}
.tabType1 .dpt1_ul:after{content:"";display:block;clear:both;}
.tabType1 .dpt1_ul {background: #ff618e;border-top:4px solid #ff618e;border-left:1px solid #ff618e;zoom:1;}
.tabType1 .dpt1_ul a {display:block;line-height:38px;font-size:13px;text-decoration: none;font-weight:bold; }
.tabType1 .dpt1_ul .dpt1_li {float:left; position:relative; height:38px; margin-left:1px; }
.tabType1 .dpt1_ul .dpt1_li .dpt1_link {width:160px; text-align:center;color:#fff;background:#ff618e url(/kr/common/images/common/bar_tabBg.gif) no-repeat right center;/*border-left:1px solid #ff618e;border-right:1px solid #ff618e;*/}
.tabType1 .dpt1_ul .dpt1_li.on .dpt1_link {color:#ff618e;background: #fff;}
.tabType1 .dpt1_ul .dpt1_li.selectedon .dpt1_link {color:#ff618e;background: #fff;}
.tabType1 .dpt2_ul {display:none;border-bottom:1px solid #ff618e; border-left:1px solid #ff618e;border-right:1px solid #ff618e;z-index:10;}
.tabType1 .dpt2_ul.on2 {display:block;}
.tabType1 .dpt2_ul {position:absolute;left:-1px;top:38px;}
.tabType1 .dpt2_ul li {background: #fff;vertical-align: top;zoom:1;}
.tabType1 .dpt2_ul li a {padding:0 22px;color:#999;}
.tabType1 .dpt2_ul li a:hover {background: #fff1f4;}

.infile { width:311px; height:22px; position:absolute; left:0px; top:0px; z-index:2;  overflow:hidden;} /* width瓿� height電� 氩勴娂 靷澊歃� */
.delfile {display:block;width:75px; height:22px; position:absolute; left:77px; top:0px; overflow:hidden; z-index:3;}
.infile .hideinput {width:311px; height:22px; margin-top:0px; margin-left:0px; filter:alpha(opacity=0); opacity:0; cursor:pointer;  border:solid 1px;}
.btn_addimg{display:block;position:absolute; left:0px; top:0px; z-index:1; }
.file_box{position:absolute; left:0px; top:37px;border:solid 1px #ddd;}
.file_box input[type="text"]{width:299px; height:18px; padding:5px 40px 5px 10px;border:none; color:#666;}
.file_box ul{}
.file_box ul li{position:relative;}
.file_box ul li a.in_X{width:8px;height:8px;display:block; position:absolute;right:18px; top:10px; background:url(/kr/common/images/event/btn_inputx.png) no-repeat; background-size:8px 8px;}
.in_file .text_file{width:229px; margin-right:85px;}
.in_file .file_del{display:inline-block; color:#999;}
.in_file .file_del a{display:inline-block; margin-right:5px;}

.nomessage{padding:70px 0; text-align:center; border-top:solid 1px #e1e1e1;border-bottom:solid 1px #e1e1e1;}
.nomessage strong{display:block;padding:70px 0 0 0; margin-bottom:10px; background:url(/kr/common/images/common/nomessage.png) no-repeat center top; color:#999; font-size:20px;}
.nomessage p{ color:#999; font-size:13px; line-height:25px;}
.nomessage p em{ display:block;font-weight:700;}

.searchFail {line-height:20px; padding:176px 0 100px 0; font-size:13px; color:#999; text-align: center; background:url(/kr/common/images/common/searchFail.gif) no-repeat center 68px; border-bottom:1px solid #e1e1e1; border-top:1px solid #e1e1e1;}

.total_box{overflow:hidden; margin-bottom:10px;}
.total_box span{display:inline-block; vertical-align:middle;}
.total_box span.num{float:left; color:#333333; font-size:14px;}
.total_box span.num em{display:inline-block; padding:0 2px;color:#ef4670; font-weight:700;}
.total_box span.choice_sel{float:right;}
.sample_banner{margin:-10px 0 20px 0;}
.event_titbox{padding:20px 0 17px 0; border-top:solid 1px #ee3966; border-bottom:solid 1px #e1e1e1;}
.event_titbox .sub_box span{display:inline-block; margin:00px 0 0 0; padding: 0 10px 0 10px; background:url(/assets/img/right_bar.png) no-repeat left center; color:#666; font-size:13px}
.event_titbox .sub_box span:first-child{padding: 0 10px 0 0px; background:none; }
h3.event_tit{display:block; margin-bottom:20px;position:relative;}
h3.event_tit em{display:inline-block;font-size:16px; color:#333; }


.event_view{padding:30px 0; border-bottom:solid 1px #e1e1e1;}
.event_view p img{width:980px;}

.sorting_num{position:absolute; left:-300px; top:0; color:#333; font-size:13px;}
.sorting_num span{color:#ee3966;font-size:13px;}
.beautyguide h3.guidetit{ position:relative; z-index:6;margin-top:30px;}
.beautyguide .guidetap{width:378px; margin:24px auto;text-align:center; position:relative;}
.beautyguide .guidetap ul{overflow:hidden; width:106%;}
.beautyguide .guidetap ul li{float:left; padding:0 11px 0 10px;background:url(/assets/img/right_bar.png) no-repeat left center;}
.beautyguide .guidetap ul li:first-child{padding:0 11px 0 0px;background:none;}
.beautyguide .guidetap ul li a{color:#333333; font-size:13px; font-weight:700;  font-family:Nanum Gothic2}
.beautyguide .guidetap ul li a:hover{color:#ec3865; }
.beautyguide .guidetap ul li a.on{color:#ec3865; }
.beautyguide .guidetap .sorting{position:absolute; right:-311px; top:0;}
.beautyguide .guidetap .sorting span{display:inline-block;padding:0 11px 0 10px;background:url(/assets/img/right_bar.png) no-repeat left center;}
.beautyguide .guidetap .sorting span:first-child{padding:0 11px 0 0px;background:none;}
.beautyguide .guidetap .sorting span a{color:#999;}
.beautyguide .guidetap .sorting span a:hover{color:#333;}
.beautyguide .guidetap .sorting span a.on{color:#333;}

.grid-item { width:220px; margin:0 0 30px 32px;}
.guide_pin{width:100%; overflow:hidden;}
.guide_pin .grid{margin-left:-32px;}
.guide_pin .pinimg{}
.guide_pin .pinimg span{display:block;}
.guide_pin .pinimg span.guide_thum{width:220px; margin-bottom:13px;}
.guide_pin .pinimg span.guide_thum img{max-width:220px; margin-bottom:13px;}
.guide_pin .pinimg span.guide_tit{margin-bottom:7px;color:#333333;   font-size:16px; line-height:22px;}
.guide_pin .pinimg span.guide_tit a{color:#666 !important;}
.guide_pin .pinimg span.guide_sub{margin-bottom:10px;color:#999;  font-size:13px;line-height:17px; }
.guide_pin .pinimg span.guide_sub a{color:#999 !important; }
.guide_pin .pinimg span.guide_count{margin-bottom:12px; }
.guide_pin .pinimg span.guide_count em{display:inline-block; padding:0 10px 0 11px;background:url(/assets/img/right_bar.png) no-repeat left center; color:#999;  font-size:13px;}
.guide_pin .pinimg span.guide_count em:first-child{padding:0 10px 0 0px;background:none; }
.guide_pin .pinimg span.guide_hash{}
.guide_pin .pinimg span.guide_hash em{display:inline-block; height:20px;padding:0 3px 0 12px;  margin:0 5px 9px 0;background:url(/kr/common/images/beauty/icon_hash.gif) no-repeat 1px center #f5f5f5;line-height:20px; color:#999999;}
.guide_pin .pinimg a.readmore{display:block;width:220px; height:35px; margin-top:8px;background:url(/assets/img/btn_readmore.gif) no-repeat; }
.guide_pin .pinimg a.readmore:hover{background-position:left -34px; }
.guide_pin .more_pin{height:39px; line-height:39px; text-align:center; background:#f2f2f2}
.guide_pin .more_pin a{display:inlnie-block; padding-right:15px; background:url(/assets/img/bg_reviewOpen.gif) no-repeat right 5px;color:#999;  font-size:13px; text-decoration:none;}

.guide_view{padding:30px 0;}
.guide_view .videobox{margin-bottom:30px;}
.guide_view .view_img{}
.guide_view .view_img p{width:980px;}
.guide_product{ margin-top:30px;}
.guide_product:after{display:block; content:""; clear:both;}
.guide_product .pdt_zim{margin:-10px 0 0 0; padding:0;border-top:none}
.guide_product h3.pdttit{height:43px;padding:0 21px 0 32px; overflow:hidden; background:#f2f2f2;line-height:43px;}
.guide_product .guide_tip{height:234px; padding:22px 48px 0 48px; margin-top:5px;position:Relative;background:#f9f9f9;}
.guide_product .guide_tip h3{text-align:center; margin-bottom:34px;}
.guide_product .guide_tip .tipbt a{width:11px; height:18px;display:block; position:absolute; top:127px;background:url(/assets/img/frollbt.png) no-repeat;z-index:3}
.guide_product .guide_tip .tipbt a.tip_left{left:21px;background-position:left top;}
.guide_product .guide_tip .tipbt a.tip_left:hover{background-position:left bottom;}
.guide_product .guide_tip .tipbt a.tip_right{right:21px;background-position:right top;}
.guide_product .guide_tip .tipbt a.tip_right:hover{background-position:right bottom;}
.guide_product .guide_tip .tip_roll{width:100%; overflow:hidden;}
.guide_product .guide_tip .tip_roll ul{width:1000%;overflow:hidden; position:relative;}
.guide_product .guide_tip .tip_roll ul li{width:150px; height:150px;float:left; margin-right:35px; position:Relative;}
.guide_product .guide_tip .tip_roll ul li img{width:150px; height:150px; }
.guide_product .guide_tip .tip_roll ul li span.overbg{width:150px; height:110px; padding-top:40px;display:block;position:absolute; left:0; top:0;background:#f45e88;opacity:0;filter:alpha(opacity=0); color:#fff; font-size:13px; text-align:center; line-height:18px;}
.guide_product .guide_tip .tip_roll ul li a:hover span.overbg{opacity:0.9;filter:alpha(opacity=90);}
.guide_product .guide_tip .tip_roll ul li span.overbg em{display:block; margin-top:15px;}

.pdt_zim{width:100%; overflow:hidden;margin:20px 0 0 0; padding:20px 0 0 0;border-top:solid 1px #e7e7e7;}
.pdt_zim ul{width:110%; overflow:hidden;}
.pdt_zim ul li{float:left;width:150px; padding:0 30px 30px 0; position:Relative;}
.pdt_zim ul li .checkForm{ position:absolute; left:0; top:0;}
.pdt_zim ul li span{display:block;text-align:center;}
.pdt_zim ul li span.zim_icon{position:absolute; left:20px; top:30px;}
.pdt_zim ul li span.zim_thum{ margin:15px 0 21px 0; text-align:center;}
.pdt_zim ul li span.zim_thum img{width:150px; height:150px;}
.pdt_zim ul li span.zim_tit{color:#333; font-weight:700; line-height:18px; font-size:13px;}
.pdt_zim ul li span.zim_cost{margin-top:3px;color:#ee3966; font-weight:700; line-height:18px; font-size:15px; font-family:'thoma'}
.pdt_zim ul li span.zim_cost em.org_cost{display:inline-block; margin-right:5px; color:#999; text-decoration:line-through; }

.beautytv_box{}
.beautytv_banner{position:relative; margin-bottom:17px;}
.beautytv_banner .banner_img{display:block;position:relative; z-index:2}
.beautytv_banner .banner_txt{width:365px; height:176px;position:absolute; left:0; top:104px;z-index:3}
.beautytv_banner .banner_txt span.bg{width:100%; height:176px; position:absolute; left:0; top:0; background:#fff; opacity:0.7;}
.beautytv_banner .banner_txt strong{display:block; padding-bottom:16px; margin-bottom:15px; background:url(/kr/common/images/inno/tit_bg.gif) no-repeat left bottom;color:#333333; font-size:30px;}
.beautytv_banner .banner_txt .txt_con{padding:30px;position:relative; z-index:4}
.beautytv_banner .banner_txt strong em{display:block; margin-bottom:0px;font-size:25px;}
.beautytv_banner .banner_txt p{color:#666666;}
.beautytvlist{width:100%;overflow:hidden;}
.beautytvlist ul{width:110%;overflow:hidden; margin-top:-40px;}
.beautytvlist ul li{width:310px; height:232px; float:left; margin:40px 25px 0px 0; position:Relative;}
.beautytvlist ul li span{display:block; }
.beautytvlist ul li span.tv_thum{width:310px; height:173px;}
.beautytvlist ul li span.tv_thum img{width:310px; height:173px;}
.beautytvlist ul li span em{display:inline-block; color:#999; font-size:12px; margin-right:10px;font-family:'thoma'; text-decoration:none;}
.beautytvlist ul li a{text-decoration:none;}
.beautytvlist ul li a:hover strong{text-decoration:underline;}
.beautytvlist ul li a:hover span{text-decoration:none;}
.beautytvlist ul li a:hover span em{text-decoration:none;}
.beautytvlist ul li strong{display:block; color:#333333; font-size:16px; margin:17px 0 5px 0;}
.horoscope_select{padding:25px 0 20px 0; border-bottom:solid 1px #e1e1e1;}


.trend_sorting{overflow:hidden; margin-bottom:13px; position:relative; font-size:13px;}
.trend_sorting span{display:block; position:absolute; left:0; top:0; color:#222;}
.trend_sorting span strong{color:#ee3966;font-family:'thoma'}
.trend_sorting .sorting_align{float:right;}
.trend_sorting .sorting_align em{display:inline-block; padding:0 10px 0 10px; background:url(/assets/img/right_bar.png) left center no-repeat; }
.trend_sorting .sorting_align em:first-child{padding:0 10px 0 0px; background:none;}
.trend_sorting .sorting_align em a{color:#999; text-decoration:none;}
.trend_sorting .sorting_align em a:hover{color:#222; text-decoration:none;}
.trend_sorting .sorting_align em.on a{color:#222; text-decoration:none;}

.product_banner{margin-bottom:20px;}

.pdtbox{width:100%; overflow:hidden; margin-top:10px;}
.pdtbox ul{width:105%;overflow:hidden; margin-top:-1px;border-bottom:solid 1px #e7e7e7;}
.pdtbox ul li{width:220px;height:285px; padding:20px 30px 0 0; float:left;}
.pdtbox ul li span{display:block; text-align:center;}
.pdtbox ul li span.pdtthum{display:block;position:relative;}
.pdtbox ul li span.pdtthum em.icon{display:block;position:absolute; left:0; top:0;}
.pdtbox ul li span.pdtthum em.icon img{display:block; width:auto; height:auto;}
.pdtbox ul li span.pdtthum img{width:200px; height:200px;}
.pdtbox ul li span.pdttit{margin-top:10px; color:#333; }
.pdtbox ul li span.pdtml{margin-top:3px; color:#999; }
.pdtbox ul li span.pdtcost{margin-top:3px; color:#ee3966; font-family:'tahoma'; font-weight:700;}
.pdtbox ul li a{text-decoration:none;}
.pdtbox ul li a:hover span.pdttit{text-decoration:underline;}
.pdtbox ul li a:hover span.pdtml{text-decoration:underline;}

.search_box{padding:30px 0 30px 0;margin-bottom:20px;background:#f6f6f6; text-align:center;}
.search_box input[type="text"]{width:623px; height:38px; border:solid 1px #dddddd; padding-left:15px; line-height:38px;}
.search_box .button a{height:38px; line-height:38px;}
.search_box p{padding:20px 0 0 0; color:#666666; font-size:20px;font-family:'Microsoft YaHei';}
/*.search_box p{padding:20px 0 0 0; color:#666666; font-size:20px;font-family:"SimSun",'tahoma';}*/
.search_box p span{display:inline-block; padding:0 3px;color:#ee3966; font-weight:700}
.search_result .nomessage{border-top:solid 1px #ee3966;}
.search_result .pdtbox{border-top:solid 1px #ee3966;}

.store_map{overflow:hidden;background:#f2f2f2;margin-bottom:40px;}
.store_map .map_con{}
.store_map .map_search{padding:30px 0 35px 0; text-align:center;}
.store_map .map_search h3{overflow:hidden; margin:0 0 30px 0; text-align:center;}
.store_map .map_search label{display:inline-block; margin-right:5px;font-size:14px; color:#333333; font-weight:700; vertical-align:middle;}
.store_map .map_search input[type="text"]{width:450px; height:22px; border:solid 1px #ddd; line-height:22px; padding:3px;}
.store_map .map_search .button{width:78px;  }
.store_map .map_search .button a{height:29px; }
.tablestyle1 .mapbt{width:72px;}
.tablestyle1 .mapbt a{height:23px; line-height:23px;}
.layer_map{margin-bottom:30px;}
.layer_storelist{}
.layer_storelist strong{display:block;margin-bottom:10px;color:#333; font-size:13px;}
.layer_storelist ul{overflow:hidden; border-top:solid 1px #ee3966;}
.layer_storelist ul li{overflow:hidden;padding:13px 0; border-bottom:solid 1px #e1e1e1;}
.layer_storelist ul li span{width:300px;display:inline-block; color:#666666; padding-left:27px;font-size:13px; vertical-align:middle;}
.layer_storelist ul li span:first-child{width:114px; text-align:left; color:#333333;}
/*敫岆灉霌滌姢韱犽Μ*/
.brand1{width:1200px; margin:0 auto;  height:1073px; overflow:hidden;}
.brand1 .topvisual{margin-bottom:70px; }
.brand1 .boxtype1{position:relative;}
.brand1 .boxtype1 .box1_1{position:absolute; left:275px; top:72px;}
.brand1 .boxtype1 .box1_2{position:absolute; left:553px; top:153px;}
.brand2{width:980px; margin:0 auto;  height:945px;position:relative;}
.brand2 .box2_1{position:absolute; left:0; top:10px;}
.brand2 .box2_2{position:absolute; left:0;  top:774px}
.brand3{width:980px; height:755px; margin:0 auto;  position:relative;}

.brand3 .box3_1{position:absolute; right:0; top:-21px;}
.brand3 .box3_2{position:absolute; left:0; top:205px;}


.brand4{width:980px; height:1352px;margin:0 auto;  position:relative;}
.brand4 .box4_1{position:absolute; left:0; top:100px;}
.brand4 .box4_2{position:absolute; right:0; top:752px;}



.online_box a{float:right}
.online_box a:first-child{float:left}


.newsletterbox{background:#f2f2f2;}
.newsletterbox .newsimg{}
.newsletterbox .newscon{padding:40px 0; text-align:center;}
.newsletterbox .newscon input[type="text"]{width:432px; height:22px;padding:3px;line-height:23px;border:solid 1px #ddd; color:#666}

.beauty_sns{float:right;margin-top:-15px;}

.errorbox{width:671px;padding-bottom:60px;border-bottom:solid 1px #ddd; margin:15% auto}
.errorbox .error_con{margin-top:60px;padding-top:155px;background:url(/kr/common/images/common/error_img.gif) no-repeat center top}
.errorbox .error_con strong{display:block;color:#ee3966;font-size:35px;font-weight:900;text-align:center}
.errorbox .error_con strong span{display:block;margin-top:5px;color:#333;font-weight:600}
.errorbox .error_con p{margin:35px 0;color:#999;font-size:13px;line-height:25px;text-align:center}
.errorbox .error_con p em{color:#666;font-weight:600}
.errorbox .dsc{display:inline-block;_display:inline;zoom:1;margin:0 auto;padding:20px 15px;background:#f8f8f8;font-size:13px;color:#7f7f7f;text-align:center;}

.errorbox.ctbox{text-align:center;width:585px}
.errorbox.ctbox h1{height:40px;background:url(/kr/common/images/common/error_tit.gif) no-repeat 0 0;text-indent:-99999em}
.ctbox .error_con{padding-top:135px;background:url('/kr/common/images/common/construction_img.gif') no-repeat center top}
.ctbox .error_con strong>span{display:inline-block;_display:inline;zoom:1;font-weight:400}
.ctbox .error_con p{margin:25px 0 15px}
