<div id="container" style="padding-bottom: 0">
        <div id="content" style="padding-bottom: 0">
                <h2 class="page_tit" style="margin-top:1.25em;display:none">{{mainTitle}}</h2>
                <div class="beautyguide" style="padding-bottom: 0">
                        <div class="event_titbox" style="border:0;padding:0"></div>
                        <style type="text/css">.guide_view img {max-width:980px !important}</style>
                        <div class="guide_view" style="padding-bottom: 0;padding-top:1em">{{{innerHTML}}}</div>
                </div>
        </div>
</div>
